:root {
    --cor-1: #191717;
    --cor-2: #7D7C7C;
    --cor-3: #CCC8AA;
    --cor-4: #F1EFEF;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho-barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0rem;
    background-color: var(--cor-4);
}

.cabecalho-titulo{
    color: var(--cor-1);
    font-size: 1.5rem;
}

.cabecalho-botoes{
    list-style-type: none;
    padding: 1rem 0rem;
}

.cabecalho-botoes-link{
    line-height: 45px;
    border: solid 2px var(--cor-1);
    padding: 3px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-2);
    font-size: 1.25rem;
}

/*@media (max-width: 768px)] 768 ~ 991px (md) [@media (max-width: 992px)]*/

@media (min-width: 768px) {

    .cabecalho-barra{
        display: flex;
        flex-direction: row;
        padding: 0.5rem 1.5rem;
    }

    .cabecalho-titulo{
        font-size: 2rem;
    }

    .cabecalho-botoes{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem 10rem;
    }

    .cabecalho-botoes-link{
    }

    .cabecalho-botoes-link:hover{
        background: var(--cor-1);
        color: var(--cor-3);
    }
}

